@font-face {
  font-family: "Trip Sans Medium";
  src: url("TripSans-Medium.eot");
  src: url("TripSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("TripSans-Medium.woff2") format("woff2"),
    url("TripSans-Medium.woff") format("woff"),
    url("TripSans-Medium.ttf") format("truetype"),
    url("TripSans-Medium.svg#TripSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modelica Medium";
  src: url("BwModelica-Medium.eot");
  src: url("BwModelica-Medium.eot?#iefix") format("embedded-opentype"),
    url("BwModelica-Medium.woff2") format("woff2"),
    url("BwModelica-Medium.woff") format("woff"),
    url("BwModelica-Medium.ttf") format("truetype"),
    url("BwModelica-Medium.svg#BwModelica-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modelica Bold";
  src: url("BwModelica-Bold.eot");
  src: url("BwModelica-Bold.eot?#iefix") format("embedded-opentype"),
    url("BwModelica-Bold.woff2") format("woff2"),
    url("BwModelica-Bold.woff") format("woff"),
    url("BwModelica-Bold.ttf") format("truetype"),
    url("BwModelica-Bold.svg#BwModelica-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modelica Regular";
  src: url("BwModelica-Regular.eot");
  src: url("BwModelica-Regular.eot?#iefix") format("embedded-opentype"),
    url("BwModelica-Regular.woff2") format("woff2"),
    url("BwModelica-Regular.woff") format("woff"),
    url("BwModelica-Regular.ttf") format("truetype"),
    url("BwModelica-Regular.svg#BwModelica-Regular") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trip Sans Regular";
  src: url("TripSans-Regular.eot");
  src: url("TripSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("TripSans-Regular.woff2") format("woff2"),
    url("TripSans-Regular.woff") format("woff"),
    url("TripSans-Regular.ttf") format("truetype"),
    url("TripSans-Regular.svg#TripSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
